 ion-title {
margin-top: 10px;
}
.image{
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:url("/assets/slide7.jpeg");
  width: 100%;
  height: 50%;
  margin-bottom: 30px;
}
.item{
    font-size: 25px;
}
span{
  color:red
}